<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Document</title>
</head>
<body>
     <form action="/profile-pic" method="post" enctype="multipart/form-data">
          <input type="file" name="profilePic" id="profilePic">;
          <input type="hidden" name="id" value="<%=id%>">
          <button type="submit">Submit</button>;
     </form>
</body>
</html>