<div class="profile-container">
     <div class="profile-header">
       <div class="profile-picture">
         <img [src]="profilePic || defaultPic" alt="Profile Picture">
       </div>
       <div class="profile-info">
         <h2>{{ name }}</h2>
         <p>Email: {{ email }}</p>
         <button (click)="fileInput.click()" class="btn btn-primary">Update Profile Picture</button>
         <input #fileInput type="file" (change)="onFileChange($event)" class="file-input-button" style="display: none;">
       </div>
     </div>
   </div>
   