.home-container {
     display: flex;
     justify-content: center;
     align-items: center;
     flex-direction: column;
     height: 100vh;
     background: url('/assets/background.jpg') no-repeat center center fixed;
     background-size: cover;
     color: white;
   }
   
   .profile-button, .logout-button {
     background-color: #007bff;
     border: none;
     color: white;
     padding: 10px 20px;
     margin: 10px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     font-size: 16px;
     transition: background-color 0.3s ease;
     border-radius: 5px;
     cursor: pointer;
   }
   
   .profile-button:hover, .logout-button:hover {
     background-color: #0056b3;
   }
   
   .profile-button {
     background-color: #28a745;
   }
   
   .profile-button:hover {
     background-color: #218838;
   }
   